go 1.25.10

use (
	./.harness/tools/go-ast-checker
	./api-proto
	./common
	./services/ai-model-service/api
	./services/ai-model-service/rpc
	./services/auth-service
	./services/community-hub-service
	./services/file-service
	./services/master-data-service
	./services/moderation-service
	./services/monitoring-service
	./services/permission-service
	./services/user-service
)
